@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cex-search-elt{
  width: 10rem;
  overflow: hidden;
}

@media screen and  (max-width: 768px) {
  .cex-search-elt{
    width: 100%;
  }

  .cex-bg-hero {
    height: 50vh !important;
  }
  
}

.cex-search-bar{
  width: 80vw;
}

.cex-search-title{
  width: 80vw;
}

.cex-bg-hero {
  background: url(/images/wedding-reception-g9bee4e633_1280.jpg) rgba(0, 0, 0, 0.5);
  height: 88vh;
}